<app-title-router [title]="titulo"></app-title-router>
<div class="d-flex">

  <div class="form-inline mr-auto">
    <div class="form-group mb-2">
      <label for="" class="mr-2">Filtro:</label>
      <input type="text" class="form-control mr-2" [(ngModel)]="filtroLista" placeholder="buscar">
    </div>
  </div>

  <div>
    <button class="btn btn-outline-primary" (click)="openModal(template)">
      <i class="fa fa-plus-circle"></i>&nbsp;Add Evento</button>
  </div>

</div>

<h3>Filtro: {{filtroLista}}</h3>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>
        <button class="btn btn-outline-primary" (click)="showHideImg()">
          {{ showImg ? 'Ocultar Imagem' : 'Exibir Imagem'}}
        </button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opçoes</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let evento of eventosFiltrados">
      <td>
        <img *ngIf="showImg" class="img-row" onerror="this.src='https://cdn.browshot.com/static/images/not-found.png'" [src]="evento.imagemURL" alt="{{evento?.local}}">
      </td>
      <td>{{evento?.id}}</td>
      <td>{{evento?.tema}}</td>
      <td>{{evento?.local}}</td>
      <td>{{evento?.dataEvento }}</td>
      <td>{{evento?.qtdPessoas}}</td>
      <td>
        <div *ngIf="evento?.lotes.length">
          <div *ngFor="let lote of evento?.lotes">{{lote?.nome | uppercase}}</div>
        </div>
        <div *ngIf="!evento?.lotes.length">
          <span>Nao Informado</span>
        </div>
      </td>
      <td>
        <div class="btn group">
          <button class="btn btn-sm btn-success" (click)="openModalEdit(template, evento)" tooltip="Editar">
            <i class="fa fa-edit"></i>
          </button>
          <button class="btn btn-sm btn-danger" (click)="delete(evento.id)" tooltip="Apagar">
            <i class="fa fa-eraser"></i>
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<div bsModal #template="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">Evento</h4>
        <button type="button" class="close pull-right" (click)="template.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="registerForm">
          <div class="form-row">
            <div class="form-group col-md-12">
              <label>Tema</label>
              <input [ngClass]="{'is-invalid': registerForm.get('tema').errors && registerForm.get('tema').touched}"
                type="text" class="form-control" formControlName="tema">
              <div *ngIf="registerForm.get('tema').hasError('required') && registerForm.get('tema').touched"
                class="invalid-feedback">
                Tema e obrigatorio.
              </div>
              <div *ngIf="registerForm.get('tema').hasError('minlength') && registerForm.get('tema').touched"
                class="invalid-feedback">
                Tema deve ter minimo 4 caracteres.
              </div>
              <div *ngIf="registerForm.get('tema').hasError('maxlength') && registerForm.get('tema').touched"
                class="invalid-feedback">
                Tema deve ter maximo 50 caracteres.
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-8">
              <label>Local</label>
              <input [ngClass]="{'is-invalid': registerForm.get('local').errors && registerForm.get('local').touched}"
                type="text" class="form-control" formControlName="local">
              <div *ngIf="registerForm.get('local').hasError('required') && registerForm.get('local').touched"
                class="invalid-feedback">
                Local e obrigatorio.
              </div>
              <div *ngIf="registerForm.get('local').hasError('minlength') && registerForm.get('local').touched"
                class="invalid-feedback">
                Local deve ter minimo 4 caracteres.
              </div>
              <div *ngIf="registerForm.get('local').hasError('maxlength') && registerForm.get('local').touched"
                class="invalid-feedback">
                Local deve ter maximo 50 caracteres.
              </div>
            </div>
            <div class="form-group col-md-4">
              <label>Data e Hora</label>
              <input bsDatepicker [bsConfig]="{ dateInputFormat : 'DD/MM/YYYY hh:mm'}"
                [ngClass]="{'is-invalid': registerForm.get('dataEvento').errors && registerForm.get('dataEvento').touched}"
                type="text" class="form-control" formControlName="dataEvento">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-3">
              <label>Qtd Pessoas</label>
              <input
                [ngClass]="{'is-invalid': registerForm.get('qtdPessoas').errors && registerForm.get('qtdPessoas').touched}"
                type="number" class="form-control" formControlName="qtdPessoas">
              <div *ngIf="registerForm.get('qtdPessoas').hasError('required') && registerForm.get('qtdPessoas').touched"
                class="invalid-feedback">
                Qtd Pessoas e obrigatorio.
              </div>
              <div *ngIf="registerForm.get('qtdPessoas').hasError('max') && registerForm.get('qtdPessoas').touched"
                class="invalid-feedback">
                Qtd Pessoas 120000 max.
              </div>
            </div>
            <div class="form-group col-md-9">
              <label>Imagem</label>
              <div>
                <button class="btn btn-success" (click)="file.click()">Upload</button>
                <span *ngIf="file">{{ fileName }}</span>
              </div>
              <input type="file" #file (change)="onFileChange($event)"
                [ngClass]="{'is-invalid': registerForm.get('imagemURL').errors && registerForm.get('imagemURL').touched}"
                class="form-control" formControlName="imagemURL" hidden>
              <div class="invalid-feedback">
                Imagem e obrigatorio.
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-8">
              <label>Telefone</label>
              <input
                [ngClass]="{'is-invalid': registerForm.get('telefone').errors && registerForm.get('telefone').touched}"
                type="text" class="form-control" formControlName="telefone">
              <div class="invalid-feedback">
                Telefone e obrigatorio.
              </div>
            </div>
            <div class="form-group col-md-4">
              <label>Email</label>
              <input [ngClass]="{'is-invalid': registerForm.get('email').errors && registerForm.get('email').touched}"
                type="text" class="form-control" formControlName="email">
              <div *ngIf="registerForm.get('email').hasError('required') && registerForm.get('email').touched"
                class="invalid-feedback">
                Email e obrigatorio.
              </div>
              <div *ngIf="registerForm.get('email').hasError('email') && registerForm.get('email').touched"
                class="invalid-feedback">
                Email tem que ser valido.
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer d-flex">
        <button class="btn btn-secondary" (click)="closeModal(template)">
          Fechar
        </button>
        <button class="btn btn-primary ml-auto" [disabled]="!registerForm.valid" (click)="salvarAlteracao(template)">
          Salvar
        </button>
      </div>
    </div>
  </div>
</div>