<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
      <span class="navbar-brand">ProAgil Eventos</span>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" routerLinkActive="active">
            <span class="nav-link nav-router" routerLink="eventos">Eventos</span>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <span class="nav-link nav-router" routerLink="dashboard">Dashboard</span>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <span class="nav-link nav-router" routerLink="palestrantes">Palestrantes</span>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <span class="nav-link nav-router" routerLink="contatos">Contatos</span>
          </li>
        </ul>
      </div>

      <ul class="navbar-nav">
        <li class="nav-item dropdown" dropdown>
          <a dropdownToggle class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Ramon
          </a>
          <div *dropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">
              Perfil
            </a>
            <div role="separator" class="divider"></div>
            <a class="dropdown-item" href="#">
              Sair
            </a>
          </div>
        </li>
      </ul>

  </div>
</nav>

